@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');

html, body, #app {
  height: 100%;
  background: #000;
}

.btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
